body {
    background-color: rgb(238, 238, 238);
}

h1 {
    margin-top: 50px;
}

h1, h2 {
    color: black;
    text-align: center;
}

div.main {
   margin: 0 200px 0 200px; 
}

div.items {
    text-align: center;
}